cycler==0.10.0
glob3==0.0.1
h5py==2.10.0
kiwisolver==1.1.0
matplotlib==3.2.0
nltk==3.4.5
numpy==1.18.1
pandas==1.0.1
Pillow==7.0.0
pkg-resources==0.0.0
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
six==1.14.0
torch==0.4.1
torchvision==0.2.0
tqdm==4.43.0
